<%= error_messages_for 'password_instance' %>

<div class="box tabular">
  <p><%= f.select :password_template_id, options_for_select(PasswordTemplate.template_options_for_form,@password_instance.password_template_id),{}, :onchange => 'changedPasswordInstanceTemplate(this)'  %></p>
  <p><%= f.select :parent_id, options_for_select( password_instance_tree_options(@password_instances),@password_instance.parent_id),{:label => :label_pt_parent}, :disabled => true  %></p>
  <p><%= f.text_field :name, :required => true, :label => :label_pt_name, :disabled => true %></p>
</div>

<% if params[:action] == "create" or params[:action] == "edit" %>
<script type="text/javascript">
    $(document).ready(function() {
    initPasswordInstanceForm(<%= @password_instance.password_template.schema_obj.form_json(@password_instance.data_plain).html_safe %>)
    });
</script>
<% end %>
