<h2><%=l(:label_pt_passwort_instance_new)%></h2>

<%= @template.to_s  %>

<%= form_tag url_for(:controller => 'password_instances', :action => 'new'), :id => "password_template_form"  do %>
    <%= render :partial => 'form' %>
    <%= submit_tag l(:button_create) %>
<% end %>

<%# <form action="<%=  " id="password_template_form" method="post">   %>
